body {
    background-image: url("/images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Courier New", monospace;
    font-weight: 50px;
}

.text-centered {
    text-align: center;
}

.image-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dessert-title {
    color: #e841e5;
}

#description {
    color: #9860ff;
}

#sweet-tooth {
    color: #d36ffb;
}

#steps {
    color: #ff76bf;
}

.inner
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}
